@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    font-family: "VT323";
    width: 600px;
    height: 750px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 7px 7px 25px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > h1{
    font-size: 50px;
}

.url-input{
    width: 350px;
    height: 40px;
    font-family: "VT323";
    font-size: large;
    text-indent: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

.create-btn,
.download-btn{
    height: 45px;
    width: fit-content;
    padding-inline: 1rem;
    border: 1px solid grey;
    background-color: white;
    border-radius: 13px;
    font-family: "VT323";   
    font-size: 20px;
    cursor: pointer;
}

.create-btn:active,
.download-btn:active{
    border: none;
    transition: 100ms ease-in;
    background-color: black;
    color: white;
}

.qr-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 460px;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: inherit;
    overflow: hidden;
}